{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="content">

<div class="item-header">  
<img src="https://www.google.com/s2/favicons?sz=64&domain={{ .Params.link }}" style="margin-left: unset; margin-right: unset; width: 64px; height: 64px;">
<h1>{{ .Title }}</h1>
<hr>
<p>License: <span>{{ .Params.License }}</span></p> 
<hr>
<p>Category: <span>{{ .Params.category }}</span></p>
<hr>
<p>Link: <a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a></p>
</div>
<br/><br/>
<div>


          {{ .Content }}


        </div>
      </main>
    </article>
  </div>
{{ end }}